# ignore test drawing dirs
**drawings/
**drawings-converted/

# ignore uploads dir (created by service on volume mount)
**uploads/

# ignore heic files
**/*.heic

# no binaries
server

# no database
*.db

# no secrets
**/*.env

# no ssh keys
**/*.ssh/

# no datadir
**/*data/
