@import "tailwindcss";

html {
  color: var(--color-red-500);
  background-color: black;
  font-family: monospace
}

/* disable scrollbars ( for overflow hidden ) */

* {
  -ms-overflow-style: none;
  /* internet explorer */
  scrollbar-width: none;
  /* firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* safari */
}

/* disable focus outlines */
*:focus {
  outline: none;
}

/* hide placeholders on focus */
*:focus::placeholder {
  color: transparent;
}
